.contacts{
    top: 22px;
    right: 0;
    font-style: normal;                     /*меняем шрифт, поскольку он по умолчанию курсивный в теге adress*/
    text-align: right;                      /*выравниваем блок с контактами по правому краю*/
}

.contacts__disc{
    font-size: 11px;
}

.contacts__phone{
    display: block;                         /*блочное поведение, чтобы марджин сработал*/   
    text-decoration: none;                  /*убираем подчеркивание*/
    font-size: 26px;                        /*указываем размер строки*/          
    margin-bottom: -6px;                    /*отрицательное значение, чтобы подвинуть текст-график*/
}

.dropdown-link{
    font-size: 13px;
    text-decoration: underline; 
}

.dropdown:hover .dropdown-link{
    color: #FF3D00;
    transition: 0.5s;
}

.contacts__disc{
    color: #9A9A9A;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown__menu{
    right: 0;
    opacity: 1;
}

.dropdown__menu{
    margin-top: 8px;
    color: black;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid black;
    padding: 15px;
    height: 70px;
    width: 160px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .4s;
    right: -9999px;
}

.dropdown__menu::before{
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
}


.dropdown__menu:after{
    content: "";
    border: 15px solid transparent;
    width: 0px;
    height: 0px;
    border-left-color: white;
    border-right-width: 0;
    border-bottom-width: 20px;
    border-top-width: 20px;
    position: absolute;
    top: -22px;
    left: 100px;
    transform: rotate(-90deg);
    
}


.dropdown__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dropdown__item{
    font-size: 13px;
    line-height: 1.6;
}

.dropdown__item-semi{
    font-weight: 600;
}