.page-content__review{
    padding:100px 0;
    margin-bottom: -31px;
}

.reviews{
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 35px;
}

.review__userdata{
    padding-left: 23px;
}

.review{
    display: inline-flex;
    flex-direction: column;
    padding: 45px 33px;
    background: #F4F5F5;
}

.reviews__item{
    margin-bottom: 20px;
}

.avatar{
    width: 139px;
    height: 139px;
    overflow: hidden;
    border-radius: 50%;
}

.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.review__user::after{
    content: url(../../img/vk-blue\ 1.png);
    height: 28px;
    padding: 10px;
}

.review__tags{
    display: flex;
    align-items: flex-start;
}

.tag{
    font-size: 13px;
    color: #333;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag--bg--active{
    background: #F2D4C9;
}

.review__title{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 23px;
    margin-right: 35px;
}

.review__content-text{
    color: #818181;
    margin-bottom: 35.5px;
    line-height: 1.7;
    font-size: 16px;
}

.review__time{
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.separator{
    min-height: 363px;
    background: #373737 url("../../img/party.png") right 20% top no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.separator__title{
    max-width: 49%;
    font-weight: bold;
    font-size: 48px;
    
}

.inner-section--bg--grey{
    padding: 88px 0;
}

.inner-section__title-big{
    color: black;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 57px;
}

.form__row{
    display: flex;
    margin-bottom: 25px;
}

.form__controls{
    display: flex;
    margin-bottom: 25px;

}

.form__controls-title{
    color: black;
    width: 35%;
    font-size: 18px;
    margin-right: 30px;
}

.controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item{
    margin-bottom: 10px;
    margin-right: 13px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: white;
    padding: 22px 30px;
    font-size: 18px;
    color: black;
}

.form__input::placeholder{
    color: #666666;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__input--textarea{
    height: 235px;
}

.controls__elem{
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
    background: #F2D4C9;
}

.controls__checkbox{
    display: none;
}

.form__btns{
    display: flex;
    justify-content: flex-end;
}

.form-btn{
    margin-right: 13px;
}

.form-btn:last-child{
    margin-right: none;
}